:root {
  --green: #29BA21;
  --white: #FFFFFF;
  --black: #000000;
}

body {
  background: var(--bg);
  color: var(--fontColor);
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

h1 {
  color: red;
}

p {
  color: green;
}

ul {
    font-family: helvetica;
}

li {
  list-style: square;
}

.list {
  list-style: square;
}

#msg {
  font-family: cursive;
}

.myButton {
color: rgb(88, 255, 65); font-size: 21px; line-height: 21px; padding: 10px; border-radius: 50px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid rgb(28, 110, 164); display: inline-block;}
.myButton:hover {
background: #1C6EA4; }
.myButton:active {
background: #144E75; }

.dark-theme {
  --bg: var(--black);
  --fontColor: var(--green);
}

.light-theme {
  --bg: var(--white);
  --fontColor: var(--black);
}


